@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  font-family: League Spartan, Helvetica, Arial;
  --orange: #F6AF4D;
  --blue: #12455D;
  --blueTransparent: rgba(18,56,93, 0.4);
  color: var(--blue);
  font-size: 25px;
}

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  position: relative;
}

a {
  text-decoration: none;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.3rem;
}

h3{
  font-size: 1rem;
}

.container{
  margin: 3em 0;
  text-align: center;
}

